body {
    max-width: 1024px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #000000;
}

header nav {
    display: inline-block;
}

header nav ul li {
    color: #ffffff;
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
}

section {
    background-image: url("../img/bici.png");
    height: 500px;
    background-size: cover;
}

.buscador {
    float: right;
    width: 120px;
    height: 30px;
    margin: 10px 5px 0 0;
    background: #000000;
    border: 1px solid grey;
    border-radius: 5px;
}

.seccion1{
    position: relative;
}

.seccion1 div{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    text-align: center;
    width: 500px;
    height: 200px;
    margin: auto;
}
#logo {
    width: 100px;
}

#titulo, #subtitulo{
    color: #ffffff;
    font-weight: 700;
    margin: 0;
}


#titulo{
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 15px;
}
#subtitulo{
    font-size: 18px;
    margin: 20px 20px 10px;
}
.boton{
   font-size: 12px;
   background: #ffffff;
   height: 30px;
   font-weight: 700;
   border: none;
}
.registro h2{
    margin:0;
    font-size: 28px;
}
footer{
    background:#383130;
    color:white;
}
.redes img{
    width: 30px;   
}
.registro{
    text-align: center;
    padding: 40px 0 20px;
}
.registro p{
    display: inline-block;
    width: 500px;
    color: silver;
}

#email{
    background: inherit;
    width: 450px;
    height: 25px;
    border: 1px solid gray;
    padding: 5px 10px;
}

#unirme{
    height: 35px;
    width: 70px;
}


