body{
    margin: 0 auto;
    font-size: 16px; /*1en*/
    max-width: 1024px;
    font-family: Arial, Helvetica, sans-serif;

}

header{
    background: #cfe7e7;
    position: relative;
}

header nav{
    background: #0070c5;
    border-radius: 5px;
    margin: 0 auto;
    width: 99%;
}

header nav ul{
    display: inline-block;
}

header nav ul li{
    display: inline-block;
    color:#ffffff;
    font-weight: 700;
    margin-right: 20px;
}

header nav form{
    float: right;
    margin: 15px 20px 0 0;
}

.logo{
    position: absolute;
    top:10px;
    left:10px;
}

header nav ul li:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.buscador{
    border-radius: 5px;
    height: 30px;
    padding-left: 20px;
}

.boton-buscar{
    background: green;
    border-radius: 5px;
    color: white;
    border: 1px solid green;
    height: 30px;
}

.section1{
    margin-top: 10px;
}
.section1 article{
    text-align: center;
}
.section1 article img{
    border: 5px solid silver;
    width: 98%;
}
.section2{
    margin-top: 10px;
} 
.section2 article{
    display: inline-block;
    width: 32%;
    vertical-align: top;
}

.section2 h1{
    font-size: 60px;
    margin: 10px auto 0;
}

.section2 h2{
    font-size: 40px;
    margin: 5px auto 0;
}

.ver-mas{
    color: blue;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 30%;
    padding: 5px 10px;
}

.section2 video{
    width: 98%;
    height: 250px;
    padding: 10px;
}

footer{
    background: rgb(5, 5, 77);
    color: #ffffff;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
}

footer section{
    font-size: 40px;
    display: inline-block;
    font-weight: 600;
    width: 32%;
    height: 90%;
    background: rgb(34, 34, 175);
    vertical-align: middle;
    border-radius: 5px;
    padding: 15px 0 0 10px;
}




